* {
    padding: 0px;
    margin: 0px auto;
    font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
}

.header {
    background: #9e9e9e;
    text-align: center;
    font-size: 30px;
}

#choices {
     background: #9e9e9e;
    text-align: center;
    font-size: 30px;
   
}

.container {
     padding: 20px;
    
}

.computer {
    text-align: right;
    font-family: 'Courier New', monospace;

}

.user {
    text-align: left;
    font-family: 'Trebuchet MS', sans-serif;

}

.ricardo {
    text-align: center;
}

